/*  */

.animate {
  transition: all 0.5s, opacity 0.64s;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}

.visually-visible {
  opacity: 1;
  height: auto;
  display: block;
}

.optionsPanel {
  background-color: #2c323a;
  border-radius: 6px;
  margin-top: 10px;
}

.optionsPanel .ant-input-number,
.optionsPanel input {
  background-color: #393f46 !important;
  border-radius: 6px;
}

.allRoutes {
  margin: 20px;
  margin-bottom: 80px;
  margin-top: 0;
}

.suggestRoute {
  margin: 20px;
  margin-bottom: 60px;
  margin-top: 0;
}

.suggestRoute .swap-route {
  opacity: 1 !important;
}

.showOnBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0), #1e242b);
}

.lifiWrap {
  margin-top: 20px;
}

.vi-hightlight {
  color: #00b78c;
}

/*  */
.ant-layout {
  background-color: #1e242b;
}

.ant-btn,
.ant-btn:hover,
.ant-btn:focus {
  color: #fff;
  border-color: #2c323a;
  background-color: #2c323a;
  font-weight: 600;
  border-radius: 6px !important;
}

.ant-btn-primary {
  border-color: #05a17d;
  background-color: #05a17d;
  font-weight: 600;
}
.ant-steps-icon-dot,
.ant-steps-item-tail::after {
  background-color: #05a17d !important;
}

.ant-input[disabled] {
  color: rgba(255, 255, 255, 0.3);
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: #05a17d;
  background-color: #05a17d;
}

/* z1 background */
.form-input-wrapper,
.ant-select-selector {
  color: #fff !important;
  background-color: #2c323a !important;
  border-radius: 6px;
}

input {
  color: #fff !important;
  background-color: #2c323a !important;
}

.ant-select-selector,
.ant-input-number,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  border-radius: 6px;
  overflow: hidden;
}

.ant-modal-content-color {
  background-color: #3d4550 !important;
}

.ant-input[disabled],
.ant-input[disabled]:hover {
  color: rgba(255, 255, 255, 0.3) !important;
}

.ant-modal-body {
  background-color: #1e242b !important;
}

/*  */

.background-z2 {
  background-color: #3d4550 !important;
  border-radius: 6px;
}

.dataRow-horizontal {
  padding: 0;
  padding-top: 14px;
}

.dataRow-horizontal .title,
.dataRow-horizontal .value {
  font-size: 13px;
  line-height: 15px;
}

.dataRow-horizontal .title {
  float: left;
  color: #848d98;
  font-weight: 400;
}

.dataRow-horizontal .value {
  float: right;
  font-weight: 500;
}

.dataRow-horizontal::after {
  content: '';
  display: table;
  clear: both;
}

.white50Alpha {
  color: rgba(255, 255, 255, 0.5);
}

.ant-timeline-item-content span {
  color: #848d98;
}
